<html>
<head>
<title>Car Rentals</title>
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/custom.css" rel="stylesheet"/>
</head>
<body>
<div>
	<div>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
			<a class="navbar-brand" href="index.html">CAR RENTALS</a>
				<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-center">
					<li><a href="index.html">Home</a></li>
					<li><a href="cars.html">Cars</a></li>
					<li  class="active"><a href="">About Us</a></li>
					<li><a href="">Contact Us</a></li>
				</ul>
				</div>
			</div>
			</nav>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<h3><b>Car Rentals Service</b></h3>
			<p>Describes the car rentals service in greater detail</p>	
			</div>			
		</div>
		<div class="row">
			<div class="col-md-12">
			<h3><b>Administrator</b></h3>
			<p>Describes the admministrators of the car rentals platform</p>	
			</div>
		</div>
	</div>
	
	<!-- Footer -->
	<div class="nav navbar-inverse navbar-fixed-bottom" text align="center">
	<p>&copy;Shadow Kode</p>
	</div>
</div>
</body>
</html>